/* Navbar */

.navbar-brand {
    font-family: Montserrat;
    font-size: 20px;
}

/* Jumbotron */
.jumbotron-special{
    background-image: url(img/header.png);
    background-size: cover;
    height: 340px;
  
}

/* Jumbotron 2 */
.jumbotron{
    background-color:#D6DADD;
    background-size: cover;
    height: 480px;
    margin-top: 148px;

}

.display-1, .display-2, .display-3{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.6);
    
}

.display-1{
    font-family: Montserrat;
    font-size: 27px;
    margin-top: 220px;
    
}

.display-2{
    font-family: Montserrat;
    font-size: 35px;
    margin-top: -10px;
    margin-left: -1px ;
    font-weight: 700;
}

.display-3{
    font-family: Montserrat;
    margin-top: -10px;
    margin-left: 1px ;
    font-size: 15px;
    font-weight: 10;
}

.display-4{
    text-align: center;
    margin-bottom: 50px;
}

.text{
    font-family: Montserrat;
    text-align: center;
}

.display-5, .bawah{
    font-family: Montserrat;
    text-align: center;
}

.bawah{
    margin-bottom: 60px;
}


/* About */

.about{
    margin-top: 117px;
    margin-left: 100px;
}

/* Button read */

.btn{
    color: white;
}

.row-centered{
    margin: auto; max-width: 300px;
}

.link-kanan{
    margin-left: 10px;
}

.email-kanan{
    margin-left: 15px;
}

.wa-kanan{
    margin-left: 25px;
} 


.card-footer{
    margin-top: 85px;
    background-color:#212121 ;
    height: 100;
}




/* DEKSTOP VERSION */

@media (min-width: 992px) {

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30p
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #1BBFE1;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
        border-radius: 1px;

    }

    .jumbotron-special{
        margin-top: -75px;
        height: 640px;
    }

    
.row-centered{
    margin: auto; max-width: 300px;
}

.link-kanan{
    margin-left: 10px;
}

.email-kanan{
    margin-left: 15px;
}

.wa-kanan{
    margin-left: 25px;
} 


       
}